{% extends 'aplicaciones/base.html' %}
{% load static %}
{%block contenido%}
<script src="aplicaciones/js/registro.js"></script>
{% comment %} <link rel="stylesheet" href="{% static 'aplicaciones/css/log.css' %}">{% endcomment %}
<h1 style="margin-top:10%;">login</h1>
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{form | crispy}}
                        
                        
                        <button type="submit" class="butt">Iniciar Sesión</button>
                        <button class="but"><a href="{% url 'iniciocliente' %}" style="text-decoration: none; ">volver</a></button>
                        <button class="but"><a href="{% url 'registro' %}" style="text-decoration: none; ">Registrate</a></button>
                        

                        
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}