{% extends 'aplicaciones/base.html' %}
{% load static %}
{%block contenido%}

{% for dato in Cliente %}


{% endfor %}
<main style="margin-top: 15vh;">
    <div class="container">
        <h1>Bienvenido a tu perfil {{ user.first_name }}</h1>
        <div class="row justify-content-center align-items-center">
            <div class="col-8">
                <table class="table table-striped table-bordered text-center">
                    <thead>
                        <tr><th>nombre / apellido</th>
                            <th>correo</th>
                            <th>telefono</th>
                            <th>direccion</th>
                            <th>comuna / region</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for cl in cli %}
                            {% if cl.correo == user.username %}
                                <tr>
                                    <td>{{cl.nombre}} / {{cl.apellido}} </td>
                                    <td>{{cl.correo}}</td>
                                    <td>{{cl.telefono}}</td>
                                    <td>{{cl.direccion}}</td>
                                    <td>{{cl.comuna}}, {{cl.region}}</td>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{%endblock%}